<!-- Banner -->

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <div class="row justify-content-end content-banner">
      <div class="banner-title col-lg-5 col-sm-8">
        <h1 class="display-4">Long-term support for lasting change</h1>
        <!-- <div class="logo-mobile"></div> -->
        <p class="lead hidden-mobile">
          Treating better futures for those in need. Our work is focused on
          breaking the cycle of intergenerational poverty
        </p>
        <div class="banner-link row justify-content-end">
          <%= link_to "Partner with us", "#linkone", class:
          "text-decoration-none btn-banner" %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About -->
<div class="container-fluid p-5 mb-5 card-small">
  <div class="row pl-5 pr-5">
    <div class="col-12 col-lg-3 col-md-6 about">
      <div class="card mb-4 p-2 h-100">
        <div class="card-body">
          <h4 class="card-title text-center">Women Empowerment</h4>
          <p class="card-text">
            Empowering women and young girls to participate actively in the
            economy.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-6 about">
      <div class="card mb-4 p-2 h-100">
        <div class="card-body">
          <h4 class="card-title text-center">Skills Development.</h4>
          <p class="card-text">
            Activating innovative and life-changing initiatives to improving
            youth digital literacy skills.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-6 about">
      <div class="card mb-4 p-2 h-100">
        <div class="card-body">
          <h4 class="card-title text-center">Advancing Education</h4>
          <p class="card-text">
            Developing communities to ignite the interest and curiosity of
            students and advance quality of life.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-6 about">
      <div class="card mb-4 p-2 h-100">
        <div class="card-body">
          <h4 class="card-title text-center">Community Health</h4>
          <p class="card-text">
            Improving well-being and quality of life of elderly people in the
            community.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Projects -->
<div class="container-fluid p-3 projects">
  <div class="row">
    <div class="col-12 text-center mt-3 mb-3">
      <h2>Our Projects</h2>
    </div>
  </div>
</div>

<div class="container-fluid p-5 projects">
  <div class="project-container row pb-5 mb-3">
    <div
      class="col-lg-7 col-md-6 col-sm-12 order-md-1 order-2"
      data-aos="slide-right"
      data-aos-duration="1200"
    >
      <h3 class="projects-title-left">Senior Care Project</h3>
      <p class="text-justify projects-text-left">
        With increasing economic pressures and shifting family roles,
        traditional ways of caring for the elderly have become difficult to
        maintain, leaving many senior citizens without a support network. Our
        Senior’s program provides weekly meals and social support to our aged.
        Volunteers also provide support for local staff, assisting with meal
        preparation, cleaning, or laundry. In the process, volunteers build
        relationships and gain unique insights into the lives of our senior
        citizens.
      </p>
      <%= link_to "Learn more >>", "/documents/book.pdf", target: "_blank" ,
      class: "btn-projects btn-left text-decoration-none" %>
    </div>
    <div
      class="col-lg-5 col-md-6 col-sm-12 order-1"
      data-aos="slide-right"
      data-aos-duration="1200"
    >
      <%= image_tag "sc.png", class: "img project-img-left" %>
    </div>
  </div>

  <hr />

  <div class="project-container row pb-5 mb-3">
    <div
      class="col-lg-5 col-md-6 col-sm-12 order-1"
      data-aos="slide-left"
      data-aos-duration="1200"
    >
      <%= image_tag "l4l.png", class: "img project-img-right" %>
    </div>
    <div
      class="projects-info-left col-lg-7 col-md-6 col-sm-12 order-md-1 order-2"
      data-aos="slide-left"
      data-aos-duration="1200"
    >
      <h3 class="projects-title-right">Learning 4 Life</h3>
      <p class="text-justify projects-text-right">
        is an Afterschool Project providing students the opportunity to continue
        their school day in a safe space with adult supervision. Education is
        the foundation of success, but many children in South Africa do not
        enjoy the full educational experience. Our Afterschool programs operate
        in Brackenfell, Hermon and Struisbaai where provide care for
        approximately 135 students.
      </p>
      <%= link_to "Learn more >>", "/documents/book.pdf", target: "_blank" ,
      class: "btn-projects text-decoration-none" %>
    </div>
  </div>

  <hr />

  <div class="project-container row pb-5 mb-3">
    <div
      class="col-lg-7 col-md-6 col-sm-12 order-md-1 order-2"
      data-aos="slide-right"
      data-aos-duration="1200"
    >
      <h3 class="projects-title-left">TUF Alumni</h3>
      <p class="text-justify projects-text-left">
        In 2018 we formed an Alumni group from our ex-L4L matriculants and
        established a board to lead the longer-term engagement in social action
        and to maintain a mentoring relationship with these students.
      </p>
      <%= link_to "Learn more >>", "/documents/book.pdf", target: "_blank" ,
      class: "btn-projects btn-left text-decoration-none" %>
    </div>
    <div
      class="col-lg-5 col-md-6 col-sm-12 order-1"
      data-aos="slide-right"
      data-aos-duration="1200"
    >
      <%= image_tag "ta.png", class: "img project-img-left" %>
    </div>
  </div>

  <hr />

  <div class="project-container row pb-5 mb-3">
    <div
      class="col-lg-5 col-md-6 col-sm-12 order-1"
      data-aos="slide-left"
      data-aos-duration="1200"
    >
      <%= image_tag "itc.png", class: "img project-img-right" %>
    </div>
    <div
      class="project-info-left col-lg-7 col-md-6 col-sm-12 order-md-1 order-2"
      data-aos="slide-left"
      data-aos-duration="1200"
    >
      <h3 class="projects-title-right">Itc Hub</h3>
      <p class="text-justify projects-text-right">
        Collaborative learning and skills development is core to this project -
        mitigation and innovation within the information and communications
        technology primarily directed at youth social and skills development.
      </p>
      <%= link_to "Learn more >>", "/documents/book.pdf", target: "_blank" ,
      class: "btn-projects text-decoration-none" %>
    </div>
  </div>

  <hr />
  <div class="project-container row pb-0 mb-3">
    <div
      class="col-lg-7 col-md-6 col-sm-12 order-md-1 order-2"
      data-aos="slide-right"
      data-aos-duration="1200"
    >
      <h3 class="projects-title-left">Komani - A social enterprise project</h3>
      <p class="text-justify projects-text-left">
        Safeguarding the dignity and life opportunities of women through the
        manufacturing and sales of reusable sanitary pads.
      </p>
      <%= link_to "Learn more >>", "/documents/book.pdf", target: "_blank" ,
      class: "btn-projects btn-left text-decoration-none" %>
    </div>
    <div
      class="col-lg-5 col-md-6 col-sm-12 order-1"
      data-aos="slide-right"
      data-aos-duration="1200"
    >
      <%= image_tag "k.png", class: "img project-img-left" %>
    </div>
  </div>
</div>
<!-- Contact us form and map -->

<div class="container-fluid p-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2 class="contact-title text-center" id="linkone">
        Are you interested in our foundation? <strong>Contact us</strong>
      </h2>
      <%= render "shared/contact_form" %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 contact-map">
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.070098554733!2d18.70708721521001!3d-33.86208428065809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5159b3d23081%3A0x3a5ef6920c2f3fff!2s1%2C%2017%20Lood%20St%2C%20Brackenfell%20Industrial%2C%20Cape%20Town%2C%207560%2C%20South%20Africa!5e0!3m2!1sen!2spt!4v1603534496905!5m2!1sen!2spt"
          width="100%"
          height="420"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-5 our-vision">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2 class="text-center our-vision mb-3">Our Vision</h2>
      <p class="text-justify our-vision">
        We encourage the act of ‘giftivism’ (the act of giving generously) and
        our passion is working alongside those who want to transform communities
        scarred by poverty and deprivation by offering structure and support. We
        live in a world in which some have more than they will ever need, while
        others put their children to bed hungry every night. It is the idea that
        we are not powerless in the face of degradation, that we can and must
        help manifest human dignity in the here and now.
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 pr-2">
      <h2 class="text-center our-vision mb-4">Connect with us</h2>
      <div class="d-flex mb-3">
        <span
          ><i class="fas fa-map-marked-alt p-3 mb-4 mr-1 our-vision"></i>&nbsp
          &nbsp</span
        >
        <span
          ><p>
            Unit 1, 17 Lood Street, Brackenfell Industrial,<br />
            Cape Town, 7560, South Africa
          </p></span
        >
      </div>
      <div class="d-flex mb-3">
        <span
          ><i class="fas fa-phone-alt p-3 mb-4 our-vision"></i>&nbsp &nbsp</span
        >
        <span
          ><p>
            Phone: +27 81 3355438 <br />A.J. Lamour Founding Director
          </p></span
        >
      </div>
      <div class="d-flex">
        <span
          ><i class="fas fa-envelope p-3 mb-4 our-vision"></i>&nbsp &nbsp</span
        >
        <span class="mt-1"><p>tuf@example.com</p></span>
      </div>
    </div>
  </div>
</div>
