<!-- Banner -->

<div class="banner img-fluid" style="background-image:url(<%= image_url('banner.jpg') %>)">
  <div class="container">
    <h1><strong>Long-term support for lasting change</strong></h1>
    <p>Creating better futures for those in need. Our work is focused on breaking the cycle of intergenerational poverty</p>
    <%= link_to "Partner with us", "#", class: "btn-primary text-decoration-none" %>
  </div>
</div>

<!-- About -->
<div class="section">
  <div class="cards">
    <div class="card">
      <h3><strong>Title</strong></h3>
      <p>Developing communities to drive economic growth and advance quality of life.</p>
    </div>

    <div class="card">
      <h3><strong>Title</strong></h3>
      <p>Developing communities to drive economic growth and advance quality of life.</p>
    </div>

    <div class="card">
      <h3><strong>Title</strong></h3>
      <p>Developing communities to drive economic growth and advance quality of life.</p>
    </div>

    <div class="card">
      <h3><strong>Title</strong></h3>
      <p>Developing communities to drive economic growth and advance quality of life.</p>
    </div>
  </div>
</div>

<!-- Projects -->

  <div class="projects">
  <h2 class="our-projects"><strong>Our projects</strong></h2>

    <section class="project" data-aos="fade-left">
      <%= image_tag "sc.png", class: "img" %>
      <div class=text>
        <h3><strong>Senior Care Project</strong></h3>
        <p>With increasing economic pressures and shifting family roles, traditional ways of caring for the elderly have become difficult to maintain, leaving many senior citizens without a support network. Our Senior’s program provides weekly meals and social support to our aged. Volunteers also provide support for local staff, assisting with meal preparation, cleaning, or laundry. In the process, volunteers build relationships and gain unique insights into the lives of our senior citizens.</p>
        <%= link_to "Learn more >>", "#", class: "btn-secondary text-decoration-none" %>
      </div>
    </section>

   <section class="project" data-aos="fade-right">
      <%= image_tag "l4l.png", class: "img" %>
      <div class=text>
        <h3><strong>Learning 4 Life</strong></h3>
        <p>is an Afterschool Project providing students the opportunity to continue their school day in a safe space with adult supervision. Education is the foundation of success, but many children in South Africa do not enjoy the full educational experience. Our Afterschool programs operate in Brackenfell, Hermon and Struisbaai where provide care for approximately 135 students.</p>
        <%= link_to "Learn more >>", "#", class: "btn-secondary text-decoration-none" %>
      </div>
    </section>

    <section class="project" data-aos="fade-left">
      <%= image_tag "ta.png", class: "img" %>
      <div class=text>
        <h3><strong>TUF Alumni</strong></h3>
        <p>In 2018 we formed an Alumni group from our ex-L4L matriculants and established a board to lead the longer-term engagement in social action and to maintain a mentoring relationship with these students.</p>
        <%= link_to "Learn more >>", "#", class: "btn-secondary text-decoration-none" %>
      </div>
    </section>

    <section class="project" data-aos="fade-right">
      <%= image_tag "lh.png", class: "img" %>
      <div class=text>
        <h3><strong>Senior Care Project</strong></h3>
        <p>Our Senior’s program provides weekly meals and social support to our aged. Volunteers also provide support for local staff, assisting with meal preparation, cleaning, or laundry. In the process, volunteers build relationships and gain unique insights into the lives of our senior citizens.</p>
        <%= link_to "Learn more >>", "#", class: "btn-secondary text-decoration-none" %>
      </div>
    </section>
</div>

<!-- Contact us form and map -->
<div class="contact d-flex">

  <div class="contact-form" id="contact-link">

    <div class="contact-box">
      <h2 > Are you interested in our foundation? <strong>Contact us</strong></h2>
    </div>

    <form>
      <input type="text" placeholder="Name" class="contact-form-txt" required>
      <input type="text" placeholder="Email" class="contact-form-txt" required>
      <input type="text" placeholder="Phone" class="contact-form-txt" required>
      <textarea placeholder="Message" class="contact-form-txtarea" required> </textarea>   
      <input type="submit" name="Submit" class="contact-form-btn">
    </form>
    
  </div>
  
  <div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.070098554729!2d18.707087214421225!3d-33.86208428065818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5159b3d23081%3A0x3a5ef6920c2f3fff!2s1%2C%2017%20Lood%20St%2C%20Brackenfell%20Industrial%2C%20Cape%20Town%2C%207560%2C%20South%20Africa!5e0!3m2!1sen!2sdk!4v1603101062961!5m2!1sen!2sdk" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>

<section>
  <div class="main-content">
  
    <div class="left box">
      <h3> Our Vision</h3>
      <div class="content">
        <p>We encourage the act of ‘giftivism’ (the act of giving generously) and our passion is working alongside those who want to transform communities scarred by poverty and deprivation by offering structure and support. We live in a world in which some have more than they will ever need, while others put their children to bed hungry every night. It is the idea that we are not powerless in the face of degradation, that we can and must help manifest human dignity in the here and now.</p>
      </div>
    </div>


    <div class="center box">
      <h3> Connect with us</h3>
      <div class="content">

        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">Unit 1, 17 Lood Street, Brackenfell Industrial, Cape Town, 7560, South Africa</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text"> A.J. Lamour Founding Director, Phone: +27 81 3355438</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">tuf@example.com</span>
        </div>

      </div>
    </div>

  
  </div>
</section>





