<!-- Banner -->

<div class="banner" style="background-image:url(<%= image_url('banner.jpg') %>)">
  <div class="container">
    <h1><strong>Long-term support for lasting change</strong></h1>
    <p>Creating better futures for those in need. Our work is focused on breaking the cycle of intergenerational poverty</p>
    <%= link_to "Partner with us", "#", class: "btn-primary text-decoration-none" %>
  </div>
</div>

<!-- About -->
<div class="section">
  <div class="cards">
    <div class="card">
      <h3><strong>Title</strong></h3>
      <p>Developing communities to drive economic growth and advance quality of life.</p>
    </div>

    <div class="card">
      <h3><strong>Title</strong></h3>
      <p>Developing communities to drive economic growth and advance quality of life.</p>
    </div>

    <div class="card">
      <h3><strong>Title</strong></h3>
      <p>Developing communities to drive economic growth and advance quality of life.</p>
    </div>

    <div class="card">
      <h3><strong>Title</strong></h3>
      <p>Developing communities to drive economic growth and advance quality of life.</p>
    </div>
  </div>
</div>

<!-- Projects -->

  <div class="projects">
  <h2 class="our-projects"><strong>Our projects</strong></h2>

    <section class="project" data-aos="fade-left">
      <%= image_tag "sc.png", class: "img" %>
      <div class=text>
        <h3><strong>Senior Care Project</strong></h3>
        <p>With increasing economic pressures and shifting family roles, traditional ways of caring for the elderly have become difficult to maintain, leaving many senior citizens without a support network. Our Senior’s program provides weekly meals and social support to our aged. Volunteers also provide support for local staff, assisting with meal preparation, cleaning, or laundry. In the process, volunteers build relationships and gain unique insights into the lives of our senior citizens.</p>
        <%= link_to "Learn more >>", "#", class: "btn-secondary text-decoration-none" %>
      </div>
    </section>

   <section class="project" data-aos="fade-right">
      <%= image_tag "l4l.png", class: "img" %>
      <div class=text>
        <h3><strong>Learning 4 Life</strong></h3>
        <p>is an Afterschool Project providing students the opportunity to continue their school day in a safe space with adult supervision. Education is the foundation of success, but many children in South Africa do not enjoy the full educational experience. Our Afterschool programs operate in Brackenfell, Hermon and Struisbaai where provide care for approximately 135 students.</p>
        <%= link_to "Learn more >>", "#", class: "btn-secondary text-decoration-none" %>
      </div>
    </section>

    <section class="project" data-aos="fade-left">
      <%= image_tag "ta.png", class: "img" %>
      <div class=text>
        <h3><strong>TUF Alumni</strong></h3>
        <p>In 2018 we formed an Alumni group from our ex-L4L matriculants and established a board to lead the longer-term engagement in social action and to maintain a mentoring relationship with these students.</p>
        <%= link_to "Learn more >>", "#", class: "btn-secondary text-decoration-none" %>
      </div>
    </section>

    <section class="project" data-aos="fade-right">
      <%= image_tag "lh.png", class: "img" %>
      <div class=text>
        <h3><strong>Senior Care Project</strong></h3>
        <p>Our Senior’s program provides weekly meals and social support to our aged. Volunteers also provide support for local staff, assisting with meal preparation, cleaning, or laundry. In the process, volunteers build relationships and gain unique insights into the lives of our senior citizens.</p>
        <%= link_to "Learn more >>", "#", class: "btn-secondary text-decoration-none" %>
      </div>
    </section>
</div>

<!-- Contact us form and map -->
<div class="contact">
  <div class="contact-map"></div>
  <div class="contact-form">
    <h2><strong>Contact us</strong></h2>
    <form>
      <input type="text" placeholder="Name" class="contact-form-txt">
      <input type="text" placeholder="Email" class="contact-form-txt">
        <textarea placeholder="Message" class="contact-form-txtarea"> </textarea>   
      <input type="submit" name="Submit" class="contact-form-btn">
    </form>
  </div>
</div>




<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
